:root {
    --font: "Roboto", sans-serif;
    --font-size: 18px;
    --tablet-size: 15px;
    --mobile-size: 12px;
    --select-font-size: 1em;
    --modal-title: 1.5rem;
    --fab-size: 1.5em;
    --app-name-size: 1.5em;
    --select-font-weight: 700;
    --background-color: #181818;
    --second-background-color: #ececec;
    --color: #ececec;
    --second-color: #181818;
    --button-color: #c5c5c5;
    --button-red-color: #f03a3a;
    --drop-background-color: #ffffff;
    --fab-button-color: #333333;
    --switch-button-color: #181818;
    --switch-active-button-color: #11a0ff;
    --width: 800px;
    --logo-width: 1.2em;
    --avatar-width: 3em;
    --spinner-width: 60px;
    --modal-circle-button-width: 1.2em;
    --preview-image-width: 3em;
    --fab-button-width: 2.5em;
    --switch-button-width: 3.35em;
    --switch-slider-width: 1.45em;
    --player-name-min-width: 2em;
    --player-name-max-width: 8em;
    --player-number-min-width: 1.2em;
    --modal-min-width: 500px;
    --height: 1143px;
    --switch-button-height: 1.9em;
    --modal-min-height: 200px;
    --duration: 1s;
    --duration-short: 0.4s;
    --body-padding: 1.2em;
    --team-padding: 0.6em 2.5em;
    --border-padding: 1px;
    --player-padding: 0.2em;
    --modal-button-padding: 0.2em 0.5em;
    --modal-drop-padding: 2em;
    --input-padding: 1em 1.5em;
    --switch-slider-padding: 0.23em;
    --margin: 0.5em;
    --modal-margin-top: 2.5em;
    --scale: 0.9;
    --hover-opacity: 0.8;
    --disabled-opacity: 0.4;
    --backdrop: 0.5;
    --radius: 2.5em;
    --modal-radius: 1.5em;
}